<html>
    <body>
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-center vh-100 text-center">
                <div>
                    <h1 class="custom-heading"></h1>
                    <button type="button" class="btn btn-primary custom-button mt-4" routerLink="/startquiz">GET STARTED</button>
                    <br>
                </div>
            </div>
        </div>
        <div class="quiz-page">
            <div class="image-container left-image">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/digital-class-illustration-download-in-svg-png-gif-file-formats--education-online-teaching-teacher-pack-school-illustrations-8237565.png?f=webp" alt="Quiz Left" />
            </div>
            <div class="quiz-content">
                <h1>Welcome to the Quiz Game!</h1>
                <p>Test your knowledge and skills with our engaging quizzes. Answer the questions and see how you rank!</p>
            </div>
            <div class="image-container right-image">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/online-meeting-set-for-investors-illustration-download-in-svg-png-gif-file-formats--time-appointment-deadline-management-task-scheduling-pack-miscellaneous-illustrations-9644326.png?f=webp" alt="Quiz Right" />
            </div>
        </div>
    </body>
</html>
